@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root {
    --primary: rgb(52, 23, 77);
    --secondary: rgb(187, 132, 249);
    --color-primary: blueviolet;
    --text-blue: blue;
    --text-purple: purple;
    --income: green;
    --expense: crimson;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow-x: hidden;
    /* overflow: hidden; */
}
body{
    background: var(--primary);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}
main {
    background: white;
    /* height: 95vh; */
    margin: 1%;
    border-radius: 30px;
    position: relative;
    display: grid;
    grid-template-columns: 15% 85%;
}
button {
    overflow: hidden;
}
/* LEFT SIDE */
/* #left nav .menu {
    display: none;
} */
#toggle  {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#toggle span{
    color: white;
    font-size: 18px;
}
#left {
    transition:all 500ms ease-in-out;}
#left nav {
    margin: 10px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}
#left nav .logo img {
    width: 100px;
    height: 90px;
}

#left nav .links {
    margin-top: 30px;
}
#left nav .links ul {
}
#left nav .links ul li {
    margin-top: 20px;
}
#left nav .links ul li a {
    text-decoration: none;
    color: var(--text-blue);
    transition: .5s ease-in-out;
}
#left nav .links ul li a:hover {
    color: var(--text-purple);
    font-weight: 700;
    text-decoration: underline;
}

#left nav .extra-links {
    margin-top: 130px;
}
#left nav .extra-links ul li {
    margin-top: 10px;
}
#left nav .extra-links ul li a {
    text-decoration: none;
    color: var(--text-purple);
    transition: .5s ease-in-out;
}
#left nav .extra-links ul li a:hover {
    color: var(--text-blue);
    font-weight: 700;
    text-decoration: underline;
}


/************************* LEFT SIDE ************************/


/* RIGHT SIDE */
#right {
    /* position: absolute;
    width: 70%; */
    margin: 2%;
    padding: 10px;
    background-color: var(--secondary);
    border-radius: 20px;
}
#right .greet {
    color: white;
    margin: 10px;
    margin-left: 50px;
}
#right .greet span {
    font-weight: 700;
    font-style: italic;
}
#right .right-container {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 2%;
}

#right .right-container .right-container-uno {
    background-color: white;
    margin:10px 20px;
    border-radius: 10px;
    position: relative;
}
#right .right-container .right-container-uno .add-plan span {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 50%;
    transition: .5s ease-in-out;
}
#right .right-container .right-container-uno .add-plan span:hover {
    color: white;
    background-color: var(--text-blue);
}
#right .right-container .right-container-uno .add-plan span i {
    font-size: 18px;
}
#right .right-container .right-container-uno h4 {
    text-align: center;
}
#right .right-container .right-container-uno .plans {
    margin: 5px;
}
#right .right-container .right-container-uno .plans .single-plan {
    background-color: rgb(201, 160, 201);
    border-radius: 5px;
    padding: 3px 5px;
    margin: 2px 0;
}
#right .right-container .right-container-uno .plans .single-plan .plan-title {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 2px;
}
#right .right-container .right-container-uno .plans .single-plan .plan-specifics {
    margin-top: 2px;
    margin-left: 10px;
    background-color: rgb(236, 84, 236);
    padding: 0px;
    border-radius: 5px;
}
#right .right-container .right-container-uno .plans .single-plan .plan-specifics p {
    font-size: 12px;
}

#right .right-container .right-container-dos {
    background-color: var(--color-primary);
    margin:10px 10px;
    border-radius: 10px;
}


#right .bottom-right {
    margin: 3%;
    margin-top: -1%;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 20px;
}
#right .bottom-right  h3 {
    text-align: center;
    margin-top: 10px;
}
#right .bottom-right .add-new-index-transact a{
    text-decoration: none;
    color: var(--text-purple);
}
#right .bottom-right .add-new-index-transact a:hover{
    color: var(--text-blue);
}
#right .planList  {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10px 20px;
}
#right  .right-container-uno {
    background-color: white;
    margin:10px 20px;
    border-radius: 10px;
    position: relative;
}
#right  .right-container-uno .top-info {
    display: flex;
    justify-content: space-between;
}
/* #right .right-container-uno .add-plan span {
    position: absolute;
    top: 5px;
} */
#right  .right-container-uno .add-plan span:hover {
    color: white;
    background-color: var(--text-blue);
}
#right  .right-container-uno .add-plan span i {
    font-size: 18px;
}
/* #right  .right-container-uno h4 {
    text-align: center;
} */
#right  .right-container-uno .plans {
    margin: 5px;
}
#right .right-container-uno .plans .single-plan {
    background-color: rgb(201, 160, 201);
    border-radius: 5px;
    padding: 10px 5px;
    margin: 5px 10px;
}
#right .right-container-uno .plans .single-plan .plan-title {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 2px;
}
#right .right-container-uno .plans .single-plan .plan-specifics {
    margin-left: 10px;
    background-color: rgb(236, 84, 236);
    padding: 3px;
    border-radius: 5px;
}
#right .right-container-uno .plans .single-plan .plan-specifics p {
    font-size: 12px;
}

#right .right-container-uno .planning-container {
    background-color: white;
    display: grid;
    grid-template-columns: 40% 60%;
}
#right .right-container-uno .planning-container .list-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
#right .right-container-uno .planning-container .list-container h4 {
    font-weight: 700;
}
#right .right-container-uno .planning-container .list-container ul {
    padding: 10px;
    list-style: circle;
}
#right .right-container-uno .planning-container .list-container ul li {
    font-size: 14px;
    cursor: pointer;
    color: var(--text-purple);
}
#right .right-container-uno .planning-container .list-container ul .active {
    color: var(--text-blue);
    font-weight: 600;
}
#right .right-container-uno .planning-container .list-container ul li i {
    font-weight: 700;
}
#right .right-container-uno .planning-container .list-container input{
    outline: none;
    border: none;
    border-bottom: 2px solid var(--text-purple);
    font-size: 14px;
    color: var(--text-blue);
}
#right .right-container-uno .planning-container .list-container input:hover {
    border-bottom: 1px solid var(--text-blue);
}

#right .right-container-uno .planning-container .task-container {
    margin: 30px;
    background-color: var(--secondary);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
}
#right .right-container-uno .planning-container .task-container .list-name {
    /* text-align: center; */
    position: absolute;
    top: 10px;
    font-size: 18px;
    font-weight: 700;
}
#right .right-container-uno .planning-container .task-container .remaining-task {
    position: absolute;
    right: 20px;
    top: 10px;
}
#right .right-container-uno .planning-container .task-container .my-tasks {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
#right .right-container-uno .planning-container .task-container .my-tasks .complete {
    text-decoration: line-through;
    color: var(--text-blue);
    cursor: not-allowed;
}
#right .right-container-uno .planning-container .task-container .my-tasks .deadline {
    float: right;
}
#right .right-container-uno .planning-container .task-container .new-task-inputs {
    display: grid;
    grid-template-columns: 55% 10% 35%;
}
#right .right-container-uno .planning-container .task-container .new-task-inputs input {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: var(--text-blue);
    font-weight: 600;
    border-bottom: 2px solid var(--text-blue);
}
#right .right-container-uno .planning-container .task-container .task-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
#right .right-container-uno .planning-container .task-container .task-buttons button {
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-purple);
    transition: .3s ease-in;
}
#right .right-container-uno .planning-container .task-container .task-buttons button:hover {
    background-color: var(--expense);
    border-radius: 10px;
    color: white;
    padding: 3px;
}
#task-template input[type='checkbox'] {
    display: none;
}
.custom-checkbox {
    --size: 0.75em;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    margin-right: var(--size);
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}
/* END OF PLANS */

/* BUDGETS */
#right .moneys {
    background-color: white;
    border-radius: 15px;
    width: 100%;
    padding: 5px;
}
#right .moneys .sum-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}
#right .moneys .sum-container .incomeTotal,
#right .moneys .sum-container .availableTotal,
#right .moneys .sum-container .expenseTotal {
    background-color: rgb(213, 207, 207);
    border-radius: 15px;
    padding: 10px;
}
#right .moneys .sum-container h5 {
    font-size: 16px;
    font-weight: 400;
}
#right .moneys .sum-container .incomeTotal h5 {
    color: var(--income);
}
#right .moneys .sum-container .availableTotal h5 {
    color: var(--text-purple);
}
#right .moneys .sum-container .expenseTotal h5 {
    color: var(--expense);
}
#right .moneys .sum-container span {
    font-size: 14px;
    font-weight: 600;
    margin-left: 20px;
}
#right .moneys .new-transaction {
    display: flex;
    padding: 0 10px;
    justify-content: space-around;
    align-items: flex-start;
}
#right .moneys .new-transaction input {
    border-radius: 10px;
    outline: none;
    appearance: none;
    border: 1px solid var(--color-primary);
    color: var(--text-purple);
    font-size: 12px;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
}
.new-transaction #transactName {
    width: 350px;
}
.new-transaction #transactAmount {
    text-align: center;
    width: 150px;
    margin-left: 20px;
}
#right .moneys .type-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
#right .moneys .type-buttons button {
    border: none;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-size: 12px;
}
.type-buttons #addIncome {
    background-color: var(--income);
}
.type-buttons #addExpense {
    background-color: var(--expense);
}
#right .moneys .money-items {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    padding: 5px 10px;
}
#incomeItem h4,
#expenseItem h4 {
   font-size: 18px;
   text-align: center;
}
#incomeItem h4,
#incomeItem h5,
#incomeItem span,
#incomeItem button  {
    color: var(--income);
    /* margin-left: 200px; */
}
#expenseItem h4,
#expenseItem h5,
#expenseItem span,
#expenseItem button  {
    color: var(--expense);
    /* margin-left: 200px; */
}
#incomeItem .item,
#expenseItem .item {
   display: grid;
   grid-template-columns: 70% 20% 10%;
   background-color: rgb(213, 207, 207);
   border-radius: 10px;
   padding: 5px;
   margin: 5px ;
}
#incomeItem .item button,
#expenseItem .item button {
   border: none;
   cursor: pointer;
   background-color: transparent;
}
#incomeItem .item h5,
#incomeItem .item span,
#expenseItem .item h5,
#expenseItem .item span,
#incomeItem .item i,
#expenseItem .item i {
    font-size: 14px;
    font-weight: 700;
}
/* BUDGETS */


/****** MEDIA QUERIES ******/
/*** DESKTOP ****/
@media screen and (min-width:1024px) {
    #left nav {
        margin: 10px;
        margin-left: 5px;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
    }
    
    /* PLANS */
    #right .right-container-uno .add-plan span {
        position: absolute;
        top: 5px;
        right: 10px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        border-radius: 50%;
        transition: .5s ease-in-out;
    }
    #right  .right-container-uno .add-plan span:hover {
        color: white;
        background-color: var(--text-blue);
    }
    #right  .right-container-uno .add-plan span i {
        font-size: 18px;
    }
    #right  .right-container-uno h4 {
        text-align: center;
    }
    #right  .right-container-uno .plans {
        margin: 5px;
    }
    #right .right-container-uno .plans .single-plan {
        background-color: rgb(201, 160, 201);
        border-radius: 5px;
        padding: 10px 5px;
        margin: 5px 10px;
    }
    #right .right-container-uno .plans .single-plan .plan-title {
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 2px;
    }
    #right .right-container-uno .plans .single-plan .plan-specifics {
        margin-left: 10px;
        background-color: rgb(236, 84, 236);
        padding: 3px;
        border-radius: 5px;
    }
    #right .right-container-uno .plans .single-plan .plan-specifics p {
        font-size: 12px;
    }
    
    #right .right-container-uno .planning-container {
        background-color: white;
        display: grid;
        grid-template-columns: 40% 60%;
    }
    #right .right-container-uno .planning-container .list-container {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    #right .right-container-uno .planning-container .list-container h4 {
        font-weight: 700;
    }
    #right .right-container-uno .planning-container .list-container ul {
        padding: 10px;
        list-style: circle;
    }
    #right .right-container-uno .planning-container .list-container ul li {
        font-size: 18px;
    }
    #right .right-container-uno .planning-container .list-container input{
        font-size: 16px;
    }

    /* #right .right-container-uno .planning-container .task-container {
        margin: 30px;
        background-color: var(--secondary);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        position: relative;
    } */
    #right .right-container-uno .planning-container .task-container .list-name {
        font-size: 20px;
    }
    #right .right-container-uno .planning-container .task-container .my-tasks {
        margin-top: 20px;
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
    }
    #right .right-container-uno .planning-container .task-container .my-tasks .complete {
        text-decoration: line-through;
        color: var(--text-blue);
        cursor: not-allowed;
    }
    #right .right-container-uno .planning-container .task-container .my-tasks .deadline {
        float: right;
    }
    #right .right-container-uno .planning-container .task-container .new-task-inputs {
        display: grid;
        grid-template-columns: 55% 10% 35%;
    }
    #right .right-container-uno .planning-container .task-container .new-task-inputs input {
        outline: none;
        border: none;
        background-color: transparent;
        font-size: 14px;
        color: var(--text-blue);
        font-weight: 600;
        border-bottom: 2px solid var(--text-blue);
    }
    #right .right-container-uno .planning-container .task-container .task-buttons {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
    #right .right-container-uno .planning-container .task-container .task-buttons button {
        border: none;
        background-color: transparent;
        font-size: 12px;
        font-weight: 600;
        color: var(--text-purple);
        transition: .3s ease-in;
    }
    #right .right-container-uno .planning-container .task-container .task-buttons button:hover {
        background-color: var(--expense);
        border-radius: 10px;
        color: white;
        padding: 3px;
    }
    .custom-checkbox {
        --size: 0.75em;
        display: inline-block;
        width: var(--size);
        height: var(--size);
        margin-right: var(--size);
        cursor: pointer;
        border: 2px solid currentColor;
        border-radius: 50%;
        -webkit-transform: scale(1);
                transform: scale(1);
        transition: -webkit-transform 300ms ease-in-out;
        transition: transform 300ms ease-in-out;
        transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    }
    /* PLANS */
    
        /* BUDGETS */
    /* #right .moneys {
        background-color: white;
        border-radius: 15px;
        width: 100%;
        padding: 5px;
    } */
    /* #right .moneys .sum-container {
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;
    } */
    #right .moneys .sum-container .incomeTotal,
    #right .moneys .sum-container .availableTotal,
    #right .moneys .sum-container .expenseTotal {
        padding: 20px;
    }
    #right .moneys .sum-container h5 {
        font-size: 20px;
    }
    #right .moneys .sum-container span {
        font-size: 18px;
        margin-left: 30px;
    }
    #right .moneys .new-transaction {
        padding: 20px 10px;
    }
    #right .moneys .new-transaction input {
        font-size: 18px;
        height: 35px;
    }
    .new-transaction #transactName {
        width: 450px;
    }
    .new-transaction #transactAmount {
        width: 250px;
    }
    /* #right .moneys .type-buttons {
        display: flex;
        justify-content: space-around;
        align-items: center; 
    } */
    #right .moneys .type-buttons button {
        height: 35px;
        padding: 5px;
        font-size: 18px;
    }
    /* #right .moneys .money-items {
        display: grid;
        grid-template-columns: 45% 10% 45%;
        padding: 5px 10px;
    } */
    #incomeItem h4,
    #expenseItem h4 {
    font-size: 22px;
    }
    /* #incomeItem h4,
    #incomeItem h5,
    #incomeItem span  {
        color: var(--income);
         margin-left: 200px; 
    } */
    /* #expenseItem h4,
    #expenseItem h5,
    #expenseItem span  {
        color: var(--expense);
        margin-left: 200px;
    } */
    #incomeItem .item,
    #expenseItem .item {
    grid-template-columns: 60% 30% 10%;
    padding: 5px;
    margin: 5px ;
    }
    #incomeItem .item h5,
    #incomeItem .item span,
    #expenseItem .item h5,
    #expenseItem .item span,
    #expenseItem .item i,
    #expenseItem .item i {
        font-size: 18px;
        font-weight: 700;
    }
    /* BUDGETS */
}
/*** DESKTOP ****/

/*** TABLETS ****/
@media screen and (min-width: 768px) and (max-width: 1023px) {

}
/*** TABLETS ****/

/*** SMARTPHONES ***/
@media screen and (max-width: 767px) and (orientation: portrait) {
    main {
        background: white;
        margin: 1%;
        border-radius: 30px;
        position: relative;
        display: flex;
        flex-direction:column ;
    }
    #toggle  {
        display: block;
    }
    /* LEFT SIDE */
    /* #left nav .menu {
        display: none;
    } */
    #left {
        display: none;
    }
    #left nav {
        width: 85%;
        height: 90vh;
        position: absolute;
        z-index: 1;
        display: none;
        margin: 10px 20px;
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        background-color: rgba(236, 197, 236, 0.9);
    }
    #left nav .logo img {
        width: 100px;
        height: 90px;
    }
    #left nav h5 {
        font-size: 14px;
        text-align: center;
    }
    #left nav .links {
        margin-top: 20px;
    }
    #left nav .links ul li {
        margin-top: 10px;
    }    
    #left nav .extra-links {
        margin-top: 100px;
    }
    #left nav .extra-links ul li {
        margin-top: 10px;
    }

    /* RIGHT SIDE */
    #right {
        /* position: absolute;
        width: 70%; */
        margin: 2%;
        padding: 3px;
    }
    #right .greet {
        color: white;
        margin: 5px;
        margin-left: 10px;
    }
    #right .right-container {
        display: flex;
        grid-template-columns: 60% 40%;
        margin: .3%;
    }

    #right .right-container .right-container-uno {
        background-color: white;
        margin:10px 0;
    }
    #right .right-container .right-container-uno .add-plan span {
        position: absolute;
        top: 5px;
        right: 10px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        border-radius: 50%;
        transition: .5s ease-in-out;
    }
    #right .right-container .right-container-uno h4 {
        text-align: center;
    }
    #right .right-container .right-container-uno .plans {
        margin: 5px;
    }
    #right .right-container .right-container-uno .plans .single-plan {
        background-color: rgb(201, 160, 201);
        border-radius: 5px;
        padding: 3px 5px;
        margin: 2px 0;
    }
    #right .right-container .right-container-uno .plans .single-plan .plan-title {
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 2px;
    }
    #right .right-container .right-container-uno .plans .single-plan .plan-specifics {
        margin-top: 2px;
        margin-left: 10px;
        background-color: rgb(236, 84, 236);
        padding: 0px;
        border-radius: 5px;
    }
    #right .right-container .right-container-uno .plans .single-plan .plan-specifics p {
        font-size: 12px;
    }

    #right .right-container .right-container-dos {
        background-color: var(--color-primary);
        margin:10px 10px;
        border-radius: 10px;
    }


    #right .bottom-right {
        margin: 3%;
        margin-top: -1%;
        margin-bottom: 30px;
        background-color: white;
        border-radius: 20px;
    }
    #right .bottom-right  h3 {
        text-align: center;
        margin-top: 10px;
    }
    #right .bottom-right .add-new-index-transact a{
        text-decoration: none;
        color: var(--text-purple);
    }
    #right .bottom-right .add-new-index-transact a:hover{
        color: var(--text-blue);
    }
    #right .planList  {
        width: 95%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 10px 20px;
    }
    #right  .right-container-uno {
        margin:10px ;
    }
    #right  .right-container-uno .top-info {
        display: flex;
        justify-content: space-between;
    }
    /* #right .right-container-uno .add-plan span {
        position: absolute;
        top: 5px;
    } */
    #right  .right-container-uno .add-plan span:hover {
        color: white;
        background-color: var(--text-blue);
    }
    #right  .right-container-uno .add-plan span i {
        font-size: 18px;
    }
    /* #right  .right-container-uno h4 {
        text-align: center;
    } */
    #right  .right-container-uno .plans {
        margin: 5px;
    }
    #right .right-container-uno .plans .single-plan {
        background-color: rgb(201, 160, 201);
        border-radius: 5px;
        padding: 10px 5px;
        margin: 5px 10px;
    }
    #right .right-container-uno .plans .single-plan .plan-title {
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 2px;
    }
    #right .right-container-uno .plans .single-plan .plan-specifics {
        margin-left: 10px;
        background-color: rgb(236, 84, 236);
        padding: 3px;
        border-radius: 5px;
    }
    #right .right-container-uno .plans .single-plan .plan-specifics p {
        font-size: 12px;
    }

    #right .right-container-uno .planning-container {
        display: flex;
        flex-direction: column;
    }
    #right .right-container-uno .planning-container .list-container {
        width: 98vw;
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin-left: -16px;
    }
    #right .right-container-uno .planning-container .list-container h4 {
        margin-top: 10px;
        font-size: 18px;
    }
    #right .right-container-uno .planning-container .list-container ul {
        padding: 5px;
        padding-top: 10px;
        list-style: circle;
    }
    #right .right-container-uno .planning-container .list-container ul li {
        font-size: 14px;
        cursor: pointer;
        color: var(--text-purple);
        padding-top: 10px;
    }
    #right .right-container-uno .planning-container .list-container input{
        margin-top: 10px;
        font-size: 14px;
        width: 70vw;
        color: var(--text-blue);
    }
    #right .right-container-uno .planning-container .task-container {
        margin: 10px;
        background-color: var(--secondary);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        position: relative;
    }
    #right .right-container-uno .planning-container .task-container .list-name {
        /* text-align: center; */
        position: absolute;
        top: 10px;
        font-size: 18px;
        font-weight: 700;
    }
    #right .right-container-uno .planning-container .task-container .remaining-task {
        position: absolute;
        right: 20px;
        top: 10px;
    }
    #right .right-container-uno .planning-container .task-container .my-tasks {
        margin-top: 20px;
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
    }
    #right .right-container-uno .planning-container .task-container .my-tasks .complete {
        text-decoration: line-through;
        color: var(--text-blue);
        cursor: not-allowed;
    }
    #right .right-container-uno .planning-container .task-container .my-tasks .deadline {
        float: right;
    }
    #right .right-container-uno .planning-container .task-container .new-task-inputs {
        display: grid;
        grid-template-columns: 55% 10% 35%;
    }
    #right .right-container-uno .planning-container .task-container .new-task-inputs input {
        font-size: 16px;
        width: 60vw;
    }
    #right .right-container-uno .planning-container .task-container .task-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 10px;
        padding: 10px 0;
    }
    #right .right-container-uno .planning-container .task-container .task-buttons button {
        border: none;
        background-color: transparent;
        font-size: 16px;
        font-weight: 600;
        color: var(--text-purple);
        transition: .3s ease-in;
        margin: 5px 0;
    }
    #right .right-container-uno .planning-container .task-container .task-buttons button:hover {
        background-color: var(--expense);
        border-radius: 10px;
        color: white;
        padding: 3px;
    }
    #task-template input[type='checkbox'] {
        display: none;
    }
    .custom-checkbox {
        --size: 0.75em;
        display: inline-block;
        width: var(--size);
        height: var(--size);
        margin-right: var(--size);
        cursor: pointer;
        border: 2px solid currentColor;
        border-radius: 50%;
        -webkit-transform: scale(1);
                transform: scale(1);
        transition: -webkit-transform 300ms ease-in-out;
        transition: transform 300ms ease-in-out;
        transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    }
    /* END OF PLANS */
    /* BUDGETS */
    #right .moneys {
        padding: 5px;
    }
    #right .moneys .sum-container {
        display: flex;
        justify-content: space-between;
        padding: 10px 5px;
    }
    #right .moneys .sum-container .incomeTotal,
    #right .moneys .sum-container .availableTotal,
    #right .moneys .sum-container .expenseTotal {
        padding: 10px;
        margin: 0 10px;
    }
    #right .moneys .sum-container h5 {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    #right .moneys .sum-container span {
        font-size: 12px;
        margin-left: 10px;
        margin-top: 10px;
    }
    #right .moneys .new-transaction {
        display: flex;
        padding: 0 10px;
        justify-content: space-between;
        align-items: flex-start;
    }
    #right .moneys .new-transaction input {
        font-size: 12px;
        height: 30px;
        margin: 10px 0;
        padding: 0 10px;
    }
    .new-transaction #transactName {
        width: 330px;
    }
    .new-transaction #transactAmount {
        text-align: center;
        width: 200px;
        margin-left: 20px;
    }
    #right .moneys .type-buttons {
        display: flex;
        justify-content: space-around;
        align-items: center; 
    }
    #right .moneys .type-buttons button {
        border: none;
        height: 30px;
        padding: 5px;
        border-radius: 10px;
        color: white;
        font-size: 12px;
    }
    #right .moneys .money-items {
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
    }
    #incomeItem h4,
    #expenseItem h4 {
    font-size: 18px;
    text-align: center;
    }
    #incomeItem h4,
    #incomeItem h5,
    #incomeItem span,
    #incomeItem button  {
        color: var(--income);
        /* margin-left: 200px; */
    }
    #expenseItem h4,
    #expenseItem h5,
    #expenseItem span,
    #expenseItem button  {
        color: var(--expense);
        /* margin-left: 200px; */
    }
    #incomeItem .item,
    #expenseItem .item {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    padding: 5px;
    margin: 3px 0;
    }
    #incomeItem .item button,
    #expenseItem .item button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    }
    #incomeItem .item h5,
    #incomeItem .item span,
    #expenseItem .item h5,
    #expenseItem .item span,
    #incomeItem .item i,
    #expenseItem .item i {
        font-size: 14px;
        font-weight: 700;
    }
    /* BUDGETS */
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    
}
/*** SMARTPHONES ***/

/****** MEDIA QUERIES ******/